.container {
  margin: 0 auto;
  width: 1210px;
  padding-top: 23px;
  padding-left: 32px;
  padding-right: 40px;
  justify-content: center;
}

.loading-container {
  display: flex;
  width: 1210px;
  padding-top: 23px;
  padding-left: 32px;
  padding-right: 40px;
  justify-content: center;
}

.ant-input {
  margin-bottom: 34px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
